# Project

# Python Project - Analyzing Sales Data

**Date**: 05 January 2023

**Author**: Natthapong.S

**Course**: Pandas Foundation

In [147]:
# import data
import pandas as pd
df = pd.read_csv("sample-store.csv")

In [148]:
# preview top 5 rows
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,6/12/2019,6/16/2019,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [149]:
# shape of dataframe
df.shape

(9994, 21)

In [150]:
# see data frame information using .info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   object
 3   Ship Date       9994 non-null   object
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: float64(4), int64(2), object(15)
memory usage: 1.6+ MB

We can use `pd.to_datetime()` function to convert columns 'Order Date' and 'Ship Date' to datetime.

In [151]:
# example of pd.to_datetime() function
pd.to_datetime(df['Order Date'].head(), format='%m/%d/%Y')

In [152]:
# TODO - convert order date and ship date to datetime in the original dataframe
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%m/%d/%Y')
df['Ship Date']  = pd.to_datetime(df['Ship Date'], format = '%m/%d/%Y')
df[['Order Date','Ship Date']].head()

,Order Date,Ship Date
0,2019-11-08,2019-11-11
1,2019-11-08,2019-11-11
2,2019-06-12,2019-06-16
3,2018-10-11,2018-10-18
4,2018-10-11,2018-10-18

In [153]:
# TODO - count nan in postal code column
df['Postal Code'].isna().sum()

11

In [154]:
# TODO - filter rows with missing values
df[df.isna().any(axis=1)]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2234,2235,CA-2020-104066,2020-12-05,2020-12-10,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,...,NaN,East,TEC-AC-10001013,Technology,Accessories,Logitech ClearChat Comfort/USB Headset H390,205.03,7,0.0,67.6599
5274,5275,CA-2018-162887,2018-11-07,2018-11-09,Second Class,SV-20785,Stewart Visinsky,Consumer,United States,Burlington,...,NaN,East,FUR-CH-10000595,Furniture,Chairs,Safco Contoured Stacking Chairs,715.20,3,0.0,178.8000
8798,8799,US-2019-150140,2019-04-06,2019-04-10,Standard Class,VM-21685,Valerie Mitchum,Home Office,United States,Burlington,...,NaN,East,TEC-PH-10002555,Technology,Phones,Nortel Meridian M5316 Digital phone,1294.75,5,0.0,336.6350
9146,9147,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,TEC-AC-10002926,Technology,Accessories,Logitech Wireless Marathon Mouse M705,99.98,2,0.0,42.9914
9147,9148,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,OFF-AR-10003477,Office Supplies,Art,4009 Highlighters,8.04,6,0.0,2.7336
9148,9149,US-2019-165505,2019-01-23,2019-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,...,NaN,East,OFF-ST-10001526,Office Supplies,Storage,Iceberg Mobile Mega Data/Printer Cart,1564.29,13,0.0,406.7154
9386,9387,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-PA-10000157,Office Supplies,Paper,Xerox 191,79.92,4,0.0,37.5624
9387,9388,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,12.28,1,0.0,5.7716
9388,9389,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-AP-10000828,Office Supplies,Appliances,Avanti 4.4 Cu. Ft. Refrigerator,542.94,3,0.0,152.0232
9389,9390,US-2020-127292,2020-01-19,2020-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,...,NaN,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,2.04,1,0.0,0.9588
9741,9742,CA-2018-117086,2018-11-08,2018-11-12,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,...,NaN,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",4404.90,5,0.0,1013.1270

In [155]:
# TODO - Explore this dataset on your owns, ask your own questions (1/3)
# Question 1
print('Q1. Find top five customers who have placed the most orders\n')
df.groupby(['Customer Name'])['Quantity'].sum().reset_index().sort_values('Quantity',ascending = False).head(5)

Q1. Find top five customers who have placed the most orders

,Customer Name,Quantity
391,Jonathan Doherty,150
787,William Brown,146
387,John Lee,143
595,Paul Prost,138
713,Steven Cartwright,133

In [156]:
# TODO - Explore this dataset on your owns, ask your own questions (2/3)
# Question 2
print('Q2. Find top five items that have the most production volume\n')
df.groupby(['Product Name'])['Quantity'].sum().reset_index().sort_values('Quantity',ascending = False).head(5)

Q2. Find top five items that have the most production volume

,Product Name,Quantity
1498,Staples,215
1492,Staple envelope,170
536,Easy-staple paper,150
1499,Staples in misc. colors,86
941,KI Adjustable-Height Table,74

In [157]:
# TODO - Explore this dataset on your owns, ask your own questions (2/3)
# Question 3
print('Q3. Find top five cities that made the highest profit\n')
df.groupby(['City'])['Profit'].sum().reset_index().sort_values('Profit',ascending = False).head(5)

Q3. Find top five cities that made the highest profit

,City,Profit
329,New York City,62036.9837
266,Los Angeles,30440.7579
452,Seattle,29156.0967
438,San Francisco,17507.3854
123,Detroit,13181.7908

## Data Analysis Part

Answer 10 below questions to get credit from this course. Write `pandas` code to find answers.

In [158]:
# TODO 01 - how many columns, rows in this dataset
print(f'Rows = {df.shape[0]} and Columns = {df.shape[1]}')

Rows = 9994 and Columns = 21

In [159]:
# TODO 02 - is there any missing values?, if there is, which colunm? how many nan values?
print(f"Is there any missing values? : {df.isna().any()}\n")
print(f"If there is, which column? : {list(df.columns[df.isna().any()])}\n")
print(f"How many nan values? : {df['Postal Code'].isna().sum()}")

Is there any missing values? : Row ID            False
Order ID          False
Order Date        False
Ship Date         False
Ship Mode         False
Customer ID       False
Customer Name     False
Segment           False
Country/Region    False
City              False
State             False
Postal Code        True
Region            False
Product ID        False
Category          False
Sub-Category      False
Product Name      False
Sales             False
Quantity          False
Discount          False
Profit            False
dtype: bool

If there is, which column? : ['Postal Code']

How many nan values? : 11

In [160]:
# TODO 03 - your friend ask for `California` data, filter it and export csv for him
CA_data = df[df['State']=='California']
CA_data.to_csv('California_data.csv')
CA_data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2,3,CA-2019-138688,2019-06-12,2019-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620,2,0.0,6.8714
5,6,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7,0.0,14.1694
6,7,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.280,4,0.0,1.9656
7,8,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152
8,9,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.504,3,0.2,5.7825

In [161]:
# TODO 04 - your friend ask for all order data in `California` and `Texas` in 2017 (look at Order Date), send him csv file

CA_TX_data = df[df['Order Date'].dt.strftime('%Y') == '2017'].query("State =='California' | State =='Texas'")
CA_TX_data.to_csv('data_CA_TX_2017.csv')
CA_TX_data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
5,6,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7,0.0,14.1694
6,7,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.280,4,0.0,1.9656
7,8,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152
8,9,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.504,3,0.2,5.7825
9,10,CA-2017-115812,2017-06-09,2017-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.900,5,0.0,34.4700

In [162]:
# TODO 05 - how much total sales, average sales, and standard deviation of sales your company make in 2017
data_2017 = df[df['Order Date'].dt.strftime('%Y') == "2017"]
data_2017['Sales'].agg(['sum','mean','std'])

In [163]:
# TODO 06 - which Segment has the highest profit in 2018
df[df['Order Date'].dt.strftime('%Y') == "2018"].groupby('Segment')['Profit'].sum()

In [164]:
# TODO 07 - which top 5 States have the least total sales between 15 April 2019 - 31 December 2019

df[(df['Order Date'] >= '2019-04-15') & (df['Order Date'] <= '2019-12-31')].groupby('State')['Sales'].sum().sort_values().head(5)

In [165]:
# TODO 08 - what is the proportion of total sales (%) in West + Central in 2019 e.g. 25% 

df_WC_19 = df[(df['Order Date'].dt.strftime('%Y') == '2019') & \
             ((df['Region'] == 'West') |(df['Region'] == 'Central'))]['Sales'].sum()

df_Total_19 = df[df['Order Date'].dt.strftime('%Y')== '2019']['Sales'].sum()

print(f"Propotion of total sale in West + Central in 2019 = { ((df_WC_19/df_Total_19)*100).round(2) } %")

Propotion of total sale in West + Central in 2019 = 54.97 %

In [166]:
# TODO 09 - find top 10 popular products in terms of number of orders vs. total sales during 2019-2020 (1/2)
df_19_20 = df[(df['Order Date'].dt.strftime('%Y') == '2019') | (df['Order Date'].dt.strftime('%Y') == '2020')]

# Top 10 orders
df_19_20.groupby(['Product ID','Product Name'])['Order ID']\
                .count().sort_values(ascending = False).reset_index().head(10)

,Product ID,Product Name,Order ID
0,FUR-TA-10001095,Chromcraft Round Conference Tables,12
1,FUR-CH-10003774,"Global Wood Trimmed Manager's Task Chair, Khaki",11
2,OFF-BI-10000301,GBC Instant Report Kit,10
3,OFF-ST-10001325,Sterilite Officeware Hinged File Box,10
4,OFF-BI-10001989,Premium Transparent Presentation Covers by GBC,9
5,FUR-TA-10003473,Bretford Rectangular Conference Table Tops,9
6,OFF-BI-10004364,Storex Dura Pro Binders,9
7,TEC-AC-10004510,Logitech Desktop MK120 Mouse and keyboard Combo,9
8,OFF-BI-10004236,"XtraLife ClearVue Slant-D Ring Binder, White, 3""",9
9,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",9

In [167]:
# TODO 09 - find top 10 popular products in terms of number of orders vs. total sales during 2019-2020 (2/2)
df_19_20 = df[(df['Order Date'].dt.strftime('%Y') == '2019') | (df['Order Date'].dt.strftime('%Y') == '2020')]


# Top 10 sales
df_19_20.groupby(['Product ID','Product Name'])['Sales']\
               .sum().sort_values(ascending = False).reset_index().head(10)

,Product ID,Product Name,Sales
0,TEC-CO-10004722,Canon imageCLASS 2200 Advanced Copier,61599.824
1,TEC-CO-10001449,Hewlett Packard LaserJet 3310 Copier,16079.732
2,TEC-MA-10001047,"3D Systems Cube Printer, 2nd Generation, Magenta",14299.890
3,OFF-BI-10000545,GBC Ibimaster 500 Manual ProClick Binding System,13621.542
4,OFF-BI-10001359,GBC DocuBind TL300 Electric Binding System,12737.258
5,OFF-BI-10004995,GBC DocuBind P400 Electric Binding System,12521.108
6,TEC-PH-10001459,Samsung Galaxy Mega 6.3,12263.708
7,FUR-CH-10002024,HON 5400 Series Task Chairs for Big and Tall,11846.562
8,OFF-SU-10002881,Martin Yale Chadless Opener Electric Letter Op...,11825.902
9,FUR-CH-10001215,Global Troy Executive Leather Low-Back Tilter,10169.894

In [168]:
# TODO 10 - plot at least 2 plots, any plot you think interesting :)  (1/2)
# Plot 1
df['Year'] = df['Order Date'].dt.strftime('%Y')
Total_categorial_sales = df.groupby(['Year', 'Category'])['Sales'].sum().reset_index()\
                           .pivot(columns='Category', index='Year', values='Sales')\
                           .plot(kind ='bar', xlabel='Category', ylabel='Sales', title='The total categorial sales 2017-2020');

In [169]:
# TODO 10 - plot at least 2 plots, any plot you think interesting :)  (2/2)
# Plot 2
Regional_sales = df.groupby('Region')['Profit'].sum()\
                .plot(kind ='pie',title = "Regional profit",autopct = '%.2f');

In [170]:
# TODO Bonus - use np.where() to create new column in dataframe to help you answer your own questions

import numpy as np

#Top 10 Cities that have the highest number of gain

df['Gain'] = np.where(df['Profit'].sum() >0, True, False)
df_gain=df[df['Gain'] == True].groupby('City')['Gain'].count()
df_gain.sort_values(ascending = False).head(10)